body {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

/* Header */
#header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content:space-between;

    position: fixed;
    top: 0;
    z-index: 1000;

    padding: 0 10px;

    color: #fff;
    background-color:#2e3033;
}

#header svg{
    padding-bottom: 2px;
}

#header-left{
    display:flex;
    justify-content: flex-start;
}

#header-right{
    display: none;
    /*display:flex;*/
    justify-content: flex-end;
}
#header-left-title{
    padding: 0 8px 0 0;
    border-radius: 5px;
}
#header-left-title:hover{
    background-color: hsla(0,0%,100%,.1)
}

.header-submenu {
    margin: auto 0;
}

/* Navigator */
#navigator{
    width: 170px;
    height: 120px;

    display:flex;
    flex-direction: column;

    position: fixed;
    top: 70px;
    left: 20px;


    color: #fff;

    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1c1d1f;
}

#navigator-top{
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
}

#navigator-bottom{
    position: relative;
    bottom: 5px;

    display:none;
    margin: auto auto 0;
}
.navigator-submenu{
    width: 160px;
    text-align: left;
}
.navigator-submenu-text{
    font-size: 12px;
    padding-right: 5px;
}

.submenu{
    border-radius: 5px;
    padding: 0 4px;
}
.submenu:hover{
    background-color: hsla(0,0%,100%,.1)
    /*background-color: #48484B;*/
}
.submenu svg{
    margin: 10px 5px;
}

/* container */
#container{
    width: 100%;
    display: flex;

    margin-top: 40px;
    background-color: #000;
}

/* content */
#content{
    height: 100%;
    width: 980px;

    margin: 30px auto;
    padding: 40px;

    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1c1d1f;

}

#content table{
    height: 100px;
    width: 900px;

    color: #fff;

    border-collapse: collapse;
    margin: 0 auto 40px;
}

#content th, td{
    border-bottom: 1px solid #444;
    padding: 10px;

    text-align:center;
}

#content .item-list-price{
    text-align: right;
}
/* paging */
#paging{
    width: 200px;
    color: #fff;

    text-align: center;
    margin: auto;
}

.paging-btn svg{
    padding-bottom: 3px;
}